{% extends "base.html" %}
{% block page_content %}
{% load static %}
<style>
    hr {background-color: #454545;}
</style>
<style>
/* Polaroid with Sticky Tape: https://codepen.io/CharlieHawker/pen/zxdYZy?editors=1100 */

.polaroid {
    background: #FFFFF0;
    box-shadow: 0 0 10px #676767;
    width: 300px;
    height: 350px;
    margin: 50px auto;
    position: relative;
    border: 1px outset;
    border-radius: 3px
}

.polaroid:before, .polaroid:after {
    width: 100px;
    height: 40px;
    display: block;
    content: "";
    background: hsla(70, 100%, 80%, 0.4);
    position: absolute;
    border-style: none dotted none dotted;
    border-width: 2px;
    border-color: #232323; /* make same as page background color */
}

.polaroid:before {
    left: -35px;
    top: -5px;
    transform: rotate(-45deg);
}

.polaroid:after {
    right: -35px;
    top: -5px;
    transform: rotate(45deg);
}

.polaroid picture {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    overflow: hidden;
}

.polaroid img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px inset;
}

.polaroid figcaption {
    font-family: cursive;
    font-weight: none;
    font-size: 2em;
    color: #343434;
    line-height: 1.3em;
    text-align: center;
    height: 1.75em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
</style>
<div class="d-flex flex-wrap mt-4 lead">
    <!-- Childhood and Family -->
    <div class="row mb-4">
        <!-- description column -->
        <div class="col-sm-12 col-md-12 col-lg-7 text-justify align-self-center">
            <h2 class="text-center">Childhood and Family</h2>
            <p>
                Mark Anthony Miloslavic Jr. was born in Fremont, California on October 25, 1984, the first American-born
                child of immigrant parents, Mark Sr (Peruvian) and Susana (Venezuelan). He is the oldest
                of four siblings: two brothers, Miguel and Santiago, and two sisters, Stephanie and Jessica.
            </p>
            <p>
                All throughout high school, Mark was enrolled as a cadet in the JROTC program. Some of his favorite
                hobbies as a teenager include web designing, making Adobe Flash animations, and photo editing with Adobe
                Photoshop. In 2003, he graduated from Paul R. Wharton high school (go wildcats!) and quickly enlisted in
                the U.S. Marine Corps.
            </p>
        </div>
        <!-- pictures column -->
        <div class="col-sm-12 col-md-12 col-lg-5 mt-md-3 m-auto">
            <figure class="polaroid">
                <picture>
                    <div id="childhood" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators position-absolute" style="top: 240px">
                            <li data-target="#childhood" data-slide-to="0" class="active"></li>
                            <li data-target="#childhood" data-slide-to="1"></li>
                            <li data-target="#childhood" data-slide-to="2"></li>
                            <li data-target="#childhood" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="15000"><img src="{% static '/img/childhood-family/child.jpg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/childhood-family/me_miguel.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/childhood-family/jrotc.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/childhood-family/hs_grad.jpeg' %}" class="rounded"></div>
                        </div>
                        <a class="carousel-control-prev" href="#childhood" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#childhood" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span>
                        </a>
                    </div>
                </picture>
                <figcaption></figcaption>
            </figure>
            <hr class="d-block d-lg-none">
        </div>
    </div>
    <!-- Military and Fatherhood (double configuration) -->
    <div class="row mb-4">
        <!-- pictures column (lg-xl) -->
        <div class="col-md-12 col-lg-5 d-none d-lg-block m-auto">
            <figure class="polaroid">
            <picture>
                <div id="military_fatherhood" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators position-absolute" style="top: 240px">
                        <li data-target="#military_fatherhood" data-slide-to="0" class="active"></li>
                        <li data-target="#military_fatherhood" data-slide-to="1"></li>
                        <li data-target="#military_fatherhood" data-slide-to="2"></li>
                        <li data-target="#military_fatherhood" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="15000"><img src="{% static '/img/military-fatherhood/bootcamp.jpeg' %}" class="rounded"></div>
                        <div class="carousel-item" data-interval="15000"><img src="{% static '/img/military-fatherhood/uniform.jpg' %}" class="rounded"></div>
                        <div class="carousel-item" data-interval="15000"><img src="{% static '/img/military-fatherhood/me_girls_hammock.jpeg' %}" class="rounded"></div>
                        <div class="carousel-item" data-interval="15000"><img src="{% static '/img/military-fatherhood/me_kaylee_olivia.jpg' %}" class="rounded"></div>
                    </div>
                    <a class="carousel-control-prev" href="#military_fatherhood" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#military_fatherhood" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span>
                    </a>
                </div>
            </picture>
            <figcaption></figcaption>
            </figure>
        </div>
        <!-- description column (lg-xl) -->
        <div class="col-md-12 col-lg-7 text-justify align-self-center d-none d-lg-block">
            <h2 class="text-center">Military and Fatherhood</h2>
            <p>
                Throughout his Marine Corps career, Mark was stationed in Japan and southern California. During his time
                in Japan, he was deployed to South Korea, Thailand, and the Philippines for training exercises and
                humanitarian aid. In 2006, Mark was deployed to a war-torn Iraq in support of Operation Iraqi Freedom.
                On December 2011, after eight and a half years of active military service, he was honorably discharged
                and relocated to North Carolina.
            </p>
            <p>
                Mark is a loving father, blessed with two beautiful and healthy little girls, Kaylee and Olivia. They
                all enjoy doing fun and exciting activities together like visiting local parks, aquariums and zoos,
                swimming and making sandcastles at the beach, exploring art and science museums, painting creative and
                pretty canvases, playing board games, and making silly Snapchat videos everywhere they go.
            </p>
        </div>
        <!-- description column (xs-md) -->
        <div class="col-sm-12 text-justify align-self-center d-block d-lg-none">
            <h2 class="text-center">Military and Fatherhood</h2>
            <p>
                Throughout his Marine Corps career, Mark was stationed in Japan and southern California. During his time
                in Japan, he was deployed to South Korea, Thailand, and the Philippines for training exercises and
                humanitarian aid. In 2006, Mark was deployed to a war-torn Iraq in support of Operation Iraqi Freedom.
                On December 2011, after eight and a half years of active military service, he was honorably discharged
                and relocated to North Carolina.
            </p>
            <p>
                Mark is a loving father, blessed with two beautiful and healthy little girls, Kaylee and Olivia. They
                all enjoy doing fun and exciting activities together like visiting local parks, aquariums and zoos,
                swimming and making sandcastles at the beach, exploring art and science museums, painting creative and
                pretty canvases, playing board games, and making silly Snapchat videos everywhere they go.
            </p>
        </div>
        <!-- pictures column (xs-md) -->
        <div class="col-sm-12 mt-md-3 d-block d-lg-none m-auto">
            <figure class="polaroid">
            <picture>
                <div id="military_fatherhood2" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators position-absolute" style="top: 240px">
                        <li data-target="#military_fatherhood2" data-slide-to="0" class="active"></li>
                        <li data-target="#military_fatherhood2" data-slide-to="1"></li>
                        <li data-target="#military_fatherhood2" data-slide-to="2"></li>
                        <li data-target="#military_fatherhood2" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="15000"><img src="{% static '/img/military-fatherhood/bootcamp.jpeg' %}" class="rounded"></div>
                        <div class="carousel-item" data-interval="15000"><img src="{% static '/img/military-fatherhood/uniform.jpg' %}" class="rounded"></div>
                        <div class="carousel-item" data-interval="15000"><img src="{% static '/img/military-fatherhood/me_girls_hammock.jpeg' %}" class="rounded"></div>
                        <div class="carousel-item" data-interval="15000"><img src="{% static '/img/military-fatherhood/me_kaylee_olivia.jpg' %}" class="rounded"></div>
                    </div>
                    <a class="carousel-control-prev" href="#military_fatherhood2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#military_fatherhood2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span>
                    </a>
                </div>
            </picture>
            <figcaption></figcaption>
            </figure>
            <hr>
        </div>
    </div>
    <!-- Education -->
    <div class="row mb-4">
        <!-- description column -->
        <div class="col-md-12 col-lg-7 text-justify align-self-center">
            <h2 class="text-center">Education</h2>
            <p>
                In 2012, Mark enrolled into Coastal Carolina Community College and began his journey as a college
                student. Mark always had a fascination with science, technology, engineering and mathematics, so he
                decided to pursue an education in biology. In 2018, he was awarded a Bachelor of Science in Biology from the
                University of North Carolina at Wilmington. That same year, he quickly moved to UNC Charlotte and
                completed the Graduate Certification in Bioinformatics Technology program.
            </p>
        </div>
        <!-- pictures column -->
        <div class="col-md-12 col-lg-5 mt-md-3 m-auto">
            <figure class="polaroid">
                <picture>
                    <div id="school" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators position-absolute" style="top: 240px">
                            <li data-target="#school" data-slide-to="0" class="active"></li>
                            <li data-target="#school" data-slide-to="1"></li>
                            <li data-target="#school" data-slide-to="2"></li>
                            <li data-target="#school" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="15000"><img src="{% static '/img/school/mustache.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/school/physicsclass.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/school/michio_kaku.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/school/graduation.jpeg' %}" class="rounded"></div>
                        </div>
                        <a class="carousel-control-prev" href="#school" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#school" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span>
                        </a>
                    </div>
                </picture>
                <figcaption></figcaption>
            </figure>
            <hr class="d-block d-lg-none">
        </div>
    </div>
    <!-- Hobbies and Interests (double configuration) -->
    <div class="row mb-4">
        <!-- pictures column (lg-xl) -->
        <div class="col-md-12 col-lg-5 d-none d-lg-block m-auto">
            <figure class="polaroid">
                <picture>
                    <div id="hobbies" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators position-absolute" style="top: 240px">
                            <li data-target="#hobbies" data-slide-to="0" class="active"></li>
                            <li data-target="#hobbies" data-slide-to="1"></li>
                            <li data-target="#hobbies" data-slide-to="2"></li>
                            <li data-target="#hobbies" data-slide-to="3"></li>
                            <li data-target="#hobbies" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="15000"><img src="{% static '/img/hobbies/scuba.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/hobbies/skydiving.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/hobbies/surfing.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/hobbies/boardgames.jpg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/hobbies/photography.jpg' %}" class="rounded"></div>
                        </div>
                        <a class="carousel-control-prev" href="#hobbies" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#hobbies" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span>
                        </a>
                    </div>
                </picture>
                <figcaption></figcaption>
            </figure>
        </div>
        <!-- description column (lg-xl) -->
        <div class="col-md-12 col-lg-7 text-justify align-self-center d-none d-lg-block">
            <h2 class="text-center">Interests and Hobbies</h2>
            <p>
                Mark is a proudly self-proclaimed nerd with a passion and curiosity for science and innovation. Anything
                that is intellectually stimulating or provokes critical thinking will naturally pique his interest. He
                is an explorer of life and our universe, searching not just answers to our questions but for new
                questions. Venturing into the unknown, exploring and expanding the boundaries of our knowledge, and
                feeding his unquenchable curiosity are his greatest aspirations.
            </p>
            <p>
                Mark has many eclectic hobbies and interests. Some of his many hobbies include:
            </p>
            <table class="table-sm table-borderless text-light text-uppercase font-weight-light m-auto">
                <tr>
                    <td class="col-6">scuba diving</td>
                    <td class="col-6">weightlifting</td>
                </tr>
                <tr>
                    <td>skydiving</td>
                    <td>photography</td>
                </tr>
                <tr>
                    <td>surfing</td>
                    <td>computer programming</td>
                </tr>
                <tr>
                    <td>kayaking</td>
                    <td>board games</td>
                </tr>
                <tr>
                    <td>salsa dancing</td>
                    <td>Zen meditation</td>
                </tr>
            </table>
        </div>
        <!-- description column (xs-md) -->
        <div class="col-sm-12 text-justify align-self-center d-block d-lg-none">
            <h2 class="text-center">Hobbies and Interests</h2>
            <p>
                Mark is a proudly self-proclaimed nerd with a passion and curiosity for science and innovation. Anything
                that is intellectually stimulating or provokes critical thinking will naturally pique his interest. He
                is an explorer of life and our universe, searching not just answers to our questions but for new
                questions. Venturing into the unknown, exploring and expanding the boundaries of our knowledge, and
                feeding his unquenchable curiosity are his greatest aspirations.
            </p>
            <p>
                Mark has many eclectic hobbies and interests. Some of his many hobbies include:
            </p>
            <table class="table-sm table-borderless text-light text-uppercase font-weight-light m-auto">
                <tr>
                    <td class="col-6">scuba diving</td>
                    <td class="col-6">weightlifting</td>
                </tr>
                <tr>
                    <td>skydiving</td>
                    <td>photography</td>
                </tr>
                <tr>
                    <td>surfing</td>
                    <td>computer programming</td>
                </tr>
                <tr>
                    <td>kayaking</td>
                    <td>board games</td>
                </tr>
                <tr>
                    <td>salsa dancing</td>
                    <td>Zen meditation</td>
                </tr>
            </table>
        </div>
        <!-- pictures column (xs-md) -->
        <div class="col-sm-12 mt-md-3 d-block d-lg-none m-auto">
            <figure class="polaroid">
                <picture>
                    <div id="hobbies2" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators position-absolute" style="top: 240px">
                            <li data-target="#hobbies2" data-slide-to="0" class="active"></li>
                            <li data-target="#hobbies2" data-slide-to="1"></li>
                            <li data-target="#hobbies2" data-slide-to="2"></li>
                            <li data-target="#hobbies2" data-slide-to="3"></li>
                            <li data-target="#hobbies2" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="15000"><img src="{% static '/img/hobbies/scuba.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/hobbies/skydiving.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/hobbies/surfing.jpeg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/hobbies/boardgames.jpg' %}" class="rounded"></div>
                            <div class="carousel-item" data-interval="15000"><img src="{% static '/img/hobbies/photography.jpg' %}" class="rounded"></div>
                        </div>
                        <a class="carousel-control-prev" href="#hobbies2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#hobbies2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span>
                        </a>
                    </div>
                </picture>
                <figcaption></figcaption>
            </figure>
            <hr>
        </div>
    </div>
    <!-- Career -->
    <div class="row">
        <!-- description column -->
        <div class="col-md-12 col-lg-7 text-justify align-self-center">
            <h2 class="text-center">Career</h2>
            <p>
                Today, Mark is on a mission to launch and pursue a career in the field of bioinformatics and data
                science. He also has an interest to become an entrepreneur and invest in the AI industry.
            </p>
        </div>
        <!-- picture column -->
        <div class="col-md-12 col-lg-5 mt-md-3 m-auto">
            <figure class="polaroid">
            <picture><img src="{% static '/img/closeup.jpeg' %}" class="rounded"></picture>
            <figcaption></figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock page_content %}