{% extends "base.html" %}
{% block page_content %}
<style>
div.card:hover {
    border-width: 1px !important;
    border-color: #ffffff !important;
}
/* div.card-body {
    height: 0 !important;
    overflow: hidden !important;
    -webkit-transition: 1s;
}
div.card:hover>div.card-body {
    height: 100% !important;
    -webkit-transition: 1s transform ease-in-out;
} */
div.card-header {
    box-shadow: 0px 5px 10px 0px #454545 inset;
}
div.card-footer {
    box-shadow: 0px -5px 10px 0px #454545 inset;
}
</style>
<div class="row justify-content-center no-gutters" style="height: 85vh">
    <!-- ROW ONE 50% HEIGHT -->
    <div class="row justify-content-center h-50">
        <!-- WELCOME -->
        <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="text-uppercase">Welcome</h1>
                <p class="lead">
                    This site is still under development, however, feel free to explore, look around, and post comments on
                    my blog while I continue to build and make necessary changes. Thanks!
                </p>
            </div>
        </div>
    </div>
    <!-- ROW TWO -->
    <div class="row no-gutters justify-content-center align-content-start h-auto">
        <!-- NEXT EVENT -->
        <div class="col-12 col-md-6 col-lg-4 align-self-start">
            <p class="text-center lead">Next Upcoming Event</p>
            <div class="card m-2 bg-dark latest">
                <!-- CARD HEADER -->
                <div class="card-header text-uppercase text-center small">
                    <a href="" class="text-decoration-none stretched-link homepage"></a>My Birthday Party
                </div>
                <!-- CARD BODY -->
                <div class="card-body">
                    <table class="small">
                        <tr>
                            <th class="align-baseline" style="width: 60px;">When:</th>
                            <td>Friday, October 25, 2019</td>
                        </tr>
                        <tr>
                            <th class="align-baseline">Where:</th>
                            <td>
                                <span class="d-inline-block">1234 Lollipop Lane, </span>
                                <span class="d-inline-block">Gumdrop City, Candyland </span>
                                <span class="d-inline-block">12345</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center small">Countdown: n days</div>
            </div>
        </div>
        <!-- LATEST BLOG POST -->
        {% if post %}
        <div class="col-12 col-md-6 col-lg-4 align-self-start">
            <p class="text-center lead">Latest Blog Post</p>
            <div class="card m-2 bg-dark">
                <!-- CARD HEADER -->
                <div class="card-header text-uppercase text-center small">
                    <a href="{% url 'blog_detail' post.pk %}" class="text-decoration-none stretched-link homepage"></a>{{ post.title }}
                </div>
                <!-- CARD BODY -->
                <div class="card-body">
                    <table class="small">
                        <tr>
                            <th class="align-baseline">Posted:</th>
                            <td>{{ post.created_on.date | date:"l, F d, Y" }} &nbsp;<span class="d-inline-block">at&nbsp; {{ post.created_on.time }}</span></td>
                        </tr>
                        <tr>
                            <th class="align-baseline" style="width: 60px;">Tags:</th>
                            <td>
                                <ul class="list-inline">
                                    {% for tags in post.tags.all %}
                                    <li class="list-inline-item">{{ tags.name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center small">Posted {{ post.created_on | timesince }} ago</div>
            </div>
        </div>
        {% else %}
        <div class="col-12 col-md-6 col-lg-4 align-self-start">
            <p class="text-center lead">Latest Blog Post</p>
            <div class="card m-2 bg-dark">
                <!-- CARD HEADER -->
                <div class="card-header text-uppercase text-center small">
                    <a href="" class="text-decoration-none stretched-link homepage"></a>No blog posts available
                </div>
                <!-- CARD BODY -->
                <div class="card-body">
                    <table class="small">
                        <tr>
                            <th class="align-baseline">Posted:</th>
                            <td>null &nbsp;<span class="d-inline-block">at&nbsp; null</span></td>
                        </tr>
                        <tr>
                            <th class="align-baseline" style="width: 60px;">Tags:</th>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">null</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center small">Posted null ago</div>
            </div>
        </div>
        {% endif %}
        <!-- LATEST PROJECT -->
        {% if project %}
        <div class="col-12 col-md-6 col-lg-4 align-self-start">
            <p class="text-center lead">Latest Project</p>
            <div class="card m-2 bg-dark">
                <!-- CARD HEADER -->
                <div class="card-header text-uppercase text-center small">
                    <a href="{% url 'project_details' project.pk %}" class="text-decoration-none stretched-link"></a>{{ project.title }}
                </div>
                <!-- CARD BODY -->
                <div class="card-body">
                    <table class="small">
                        <tr>
                            <th class="align-baseline" style="width: 60px;">Status:</th>
                            <td>
                                {% if 'Complete' in project.project_status %}
                                <span class="badge badge-success text-uppercase">{{ project.project_status }}</span>
                                {% elif 'In Progress' in project.project_status %}
                                <span class="badge badge-warning text-uppercase">{{ project.project_status }}</span>
                                {% else %}
                                <span class="badge badge-danger text-uppercase">{{ project.project_status }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="align-baseline">Start:</th>
                            <td>{{ project.start_date | date:"l, F d, Y" }}</td>
                        </tr>
                        <tr>
                            <th class="align-baseline">Finish:</th>
                            <td>
                                {% if project.finish_date is None %}
                                TBD
                                {% else %}
                                {{ project.finish_date | date:"l, F d, Y" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="align-baseline">Tech:</th>
                            <td>
                                <ul class="list-inline m-0">
                                {% for tech in project.tech.all %}
                                <li class="list-inline-item">{{ tech.name }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center small">Posted {{ project.created_on | timesince }} ago</div>
            </div>
        </div>
        {% else %}
        <div class="col-12 col-md-6 col-lg-4 align-self-start">
            <p class="text-center lead">Latest Project</p>
            <div class="card m-2 bg-dark">
                <!-- CARD HEADER -->
                <div class="card-header text-uppercase text-center small">
                    <a href="" class="text-decoration-none stretched-link"></a>No blog posts available
                </div>
                <!-- CARD BODY -->
                <div class="card-body">
                    <table class="small">
                        <tr>
                            <th class="align-baseline" style="width: 60px;">Status:</th>
                            <td>
                                <span class="badge text-uppercase">null</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-baseline">Start:</th>
                            <td>null</td>
                        </tr>
                        <tr>
                            <th class="align-baseline">Finish:</th>
                            <td>
                                null
                            </td>
                        </tr>
                        <tr>
                            <th class="align-baseline">Tech:</th>
                            <td>
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">null</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center small">Posted null ago</div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock page_content %}